# Created by .ignore support plugin (hsz.mobi)
.gradle/
.idea/
airclass_android.iml
app/app.iml
app/build/
build/
buildSrc/.gradle/
buildSrc/build/
buildSrc/buildSrc.iml
local.properties
nlog/build/
nlog/nlog.iml
udesk_Separate_UI/build
live_im/build
playersdk/build
*.iml
udesk_Separate_UI.iml
live_im.iml
.gitmodules
pull.sh
/live/lib_imui/
/live/lib_lcssdk/
/live/lib_live_base_work/
/live/lib_live_common/
/live/lib_live_dialogs/
/live/lib_livelesson/
/live/lib_exoplayer_sdk/
/live/lib_knowledge/
/live/lib_video_player/
/live_base_module/
/live/lib_teaching_plugin
/live/lib_teaching_ui
/live/lib_teaching_senior
/live/lib_teaching_test
/live/lib_live_sale_work
/live/lib_live_qiyu
/live/lib_live_util
/live/lib_playback_cache
/live/lib_teaching_mvp_plugin
/live/lib_teaching_mvp_ui
/live/lib_teaching_user_center
/app/src/main/jniLibs/armeabi-v7a/libjingle_peerconnection_so.so
/common/
/live/livelearning
/modules/lib_common
/modules/lib_nlogsdk
/live/lib_h5plugin
/live/lib_hybrid
/live/lib_service_center
/modules/suffixes_compiler
/modules/suffixes_transits
/live_base_module/lib_okhttp
/live_base_module/lib_airclass_resources
/app/bugly/
/log.txt
/app/src/main/assets/router.json
/app/src/main/assets/hybrid/preload/
